# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Mac or Windows hidden files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Model & temp files
*.pkl
*.h5
*.tflite
*.keras

# Power BI
*.pbix
